/filesystem
/__pycache__
/backoffice/composer.lock
/backoffice/application/cache/*
/backoffice/vendor/*
/backoffice/vendor/
/backoffice/assets/uploads/files/*
/backoffice/stats/*
/backoffice/stats/
/backoffice/error/*
/backoffice/error/
/backoffice/!application/cache/index.html
/backoffice/!application/cache/.htaccess
/backoffice/application/logs/*
/backoffice/!application/logs/index.html
/backoffice/!application/logs/.htaccess
/backoffice/config.php
/.backoffice
/.backoffice/*
/env

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
backoffice/application/logs/*
!application/logs/index.html
!application/logs/.htaccess
backoffice/vendor/
backoffice/config.php
